@font-face {
    font-family: 'fuentetitulo';
    src: url('fuentes/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'fuentecuerpo';
    src: url('fuentes/static/Lora-Regular.ttf') format('truetype');
}

h1,
h2 {
    font-family: "fuentetitulo", Arial, Helvetica, sans-serif;
       text-align: center;

}
h3{
    font-family: "fuentecuerpo";
    font-size: 15px;
    margin-left: 65px;
    text-align: center;
    padding: 10px;
}
.registro:hover{
   
        color: #D38EB0 ;
    
}

body {
    background-color: #D38EB0;
    margin: 90;
    padding: 0;
    font-family: "fuentecuerpo", Arial, Helvetica, sans-serif;
   

}


header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #FFDDD9;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 35px;
   
}

.logo img {
  
    height: 80px;
    margin-right: 10px;

}

a {
    text-decoration: none;
    color: black;
    font-family: 'fuentetitulo';
}
nav a{
    font-weight: 800;
    padding-right: 12px;
    font-size: 35px;
    
}
nav a:hover{
    color: #D38EB0 ;
}

@media (max-width:700px){
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
} /*- Hacer que se ajuste al tamaño de la pantalla


